.App {
  text-align: center;
  padding: 250px 0;
  height: 100%;
  overflow-y: hidden;
}

.titleColor {
  color: #3f51b5;
}

.title{
  color: #3f51b5;
}
html, body
{
  height: 100%;
}

.center {
  padding: 10px 0;
}

.PageErorMsg {
    color: #B80000;
}

.HouseFormStyle {
  

  /* padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px; */

  /* padding-top: 10px;
  padding-bottom: 10px; */
  padding: 10px;
  border: solid 1px #D3D3D3;
  border-top: none;  
}

.column{
  /* float: left;
  width: 50%;
  padding: 10px;   */
}

.centerButton{
 display: flex; 
 align-items: center;
  
}

.size{
  text-align: center;
  margin: auto;
  height: 50px;
  width: 90vh;
}

.postHousePageTitle{
  text-align: center;
  padding-top: 100px;
  color: #3f51b5;
  margin: auto;
  border-left: solid 1px #D3D3D3;
  border-right: solid 1px #D3D3D3;
  
}

.postHousePageContainer{
  
  margin: auto;
  max-width: 90vh;
  height: 100vh;
  overflow-x: hidden;
}

.Map {
  height: 100rem;
  width: 100%;
  padding-top: 4rem !important;
}
.LocationSearch {
  min-width: 110vh;
  min-height: 0.25rem;
  position: fixed;
  overflow: hidden;
}
.LocationSearch input {
border: 1px solid #3f51b5;
border-top-right-radius: 0.25rem;
border-bottom-right-radius: 0.25rem;

}

.input-group.md-form.form-sm.form-2 input.amber-border {
border: 1px solid #ffca28;
}

.HouseCard {
  padding: .5em !important;
  max-width: 17rem !important;
  max-height: 25.5rem !important;
  min-width: 17rem !important;
  min-height: 25.5rem !important;
  /* width: 70%; */
  flex-grow: 1;
  align-self: flex-start;
}

/* styling sign up page */

/* styling listings sections*/
#NavTopBar {
  width: 100%;
  height: relative;
  position: fixed;
}

#FindHouse {
  padding-top: 4em;
}
#listings{
  padding-top: 4em;
}

/* left panel contains the map */
.left-panel{
  width: 50%;
  height: 100%;
  position: fixed;
  padding-top: 5rem !important;

}

/* right panel contain the post and filter tap */
.right-panel{
  padding-top: 5rem;
  display: flex;
  width: 100%;
  height: 100%;
  
}
.find-house-grid-container{
  height: 100%;
}
.left-grid-list{
  width: 50%;
  height: 100%;
}
.housing-list {
  padding-top: 5rem !important;
  overflow-y: scroll;
  position: relative;
  /* margin: 5rem !important; */
    /* mix-blend-mode: overlay; */
  z-index: 5;
  overflow: auto;
}
.tabs {
  position: fixed;
  /* overflow-y: visible; */
  z-index: 10;
  background: inherit;
  width: inherit;
}
/* .FilterListTab{
  position: fixed;
  overflow-y: visible;
  z-index: 10;
  background: inherit;
} */

/* .filterTab-root{
  overflow-y: visible;
  z-index: 10;
  background: inherit;
  position: fixed;
  padding: 5px;

} */
.roomsList{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap:  wrap ;
  padding-left: 0.5rem !important;

}

.userProfile {
  padding-top: 5rem;
}
.GridListTitle .ListSubheader {
  text-align: left;
  width: auto;
  height: auto;
  position: fixed;
}


/* .navbartest {
  width: 100%;
  height: auto;
  position: fixed;
} */