.App {
  text-align: center;
  padding: 250px 0;

}


.center {
  padding: 10px 0;
}

.PageErorMsg {
    color: #B80000;
}

.HouseFormStyle {
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}
