.App {
  text-align: center;
  padding: 250px 0;
  height: 100%;
  overflow-y: hidden;
}

.titleColor {
  color: #fca620;
}

.title{
  color: #fca620;
}
html, body
{
  height: 100%;
}

.center {
  padding: 10px 0;
}

.PageErorMsg {
    color: #B80000;
}

.HouseFormStyle {
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.postHousePageTitle{
  text-align: center;
  color: #fca620;
}

.Map {
  height: 100rem;
  width: 100%;
}
.LocationSearch {
  min-width: 110vh;
  min-height: 0.25rem;
  position: fixed;
  overflow: hidden;
}
.LocationSearch input {
border: 1px solid #ffca28;
border-top-right-radius: 0.25rem;
border-bottom-right-radius: 0.25rem;

}

.input-group.md-form.form-sm.form-2 input.amber-border {
border: 1px solid #ffca28;
}

.HouseCard {
  padding: 5px;
  width: auto;
  height: auto;
}

/* styling sign up page */

/* styling listings sections*/
#NavTopBar {
  width: 100%;
  height: relative;
  position: fixed;
}

#FindHouse {
  padding-top: 4em;
}
#listings{
  padding-top: 4em;
}
.RoomsList {
  width:35%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.left-panel{
  width: 50%;
  height: 100%;
  position: fixed;
}
.right-panel{
  padding-top: 5rem;
  display: flex;
  width: 50%;
  height: 100;
  
}
.find-house-grid-container{
  height: 100%;
}
.left-grid-list{
  width: 50%;
  height: 100%;
}
.housing-list {
  overflow-y: scroll;
}
.filterListTab {
  margin-top: 6rem;
  position: fixed;
  overflow-y: hidden;
}
.roomsList{
  overflow-y: scroll;
}
.GridListTitle .ListSubheader {
  text-align: left;
  width: auto;
  height: auto;
  position: fixed;
}
/* .navbartest {
  width: 100%;
  height: auto;
  position: fixed;
} */